.event-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event-desc{
  margin: 1rem .6rem;
  background-color: var(--color-white);
  color: var(--color-primary);
}