.headerTop{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  align-items: center;
  padding: 1rem;
}
@media screen and (max-width: 600px){
  .headerTop{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
}
@media screen and (max-width:424px){
  .header-social{
    display: flex;
    flex-direction: column;
  }
  
}
  
.logoinfo{
  display: flex;
  gap: 2rem;
}
.header-social{
  display: flex;
  gap: .5rem;
  align-items: center;
  
}
.header-icon-wrapper{
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  display: grid;
  place-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
}
.header-icon-wrapper svg {
 fill: var(--color-primary-lighter);
}
.header-nav-list{
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  gap: 3rem;
  background-color: var(--color-white);
  flex-wrap: wrap;
}
.header-nav-item a{
  text-decoration:none;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-black);
  padding: .3rem;
  display: inline-block;
  transition: all .5s;

}
@media screen and (max-width: 400px){
   .header-nav-item{
    flex-direction: column;
    
   }
   .header-nav-list{
    gap: .5rem;
   }
  
}
.header-nav-item a:hover{
  background-color: var(--color-primary);
  color: var(--color-white);
}